@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Cormorant+Garamond:wght@600;700&display=swap');


:root{

--pink:#f7b6c8;

--pink-dark:#d987a0;

--black:#111;

--white:#ffffff;

--bg:#fff9fb;

--shadow:0 15px 40px #f7b6c855;

}



*{

box-sizing:border-box;

margin:0;

padding:0;

}



body{


font-family:'Cairo',sans-serif;

background:var(--bg);

color:#333;


}



h1,h2,h3{

font-family:'Cormorant Garamond',serif;

}



button{

font-family:'Cairo',sans-serif;

cursor:pointer;

}



input,
select,
textarea{


font-family:'Cairo',sans-serif;


outline:none;


}



a{

text-decoration:none;

color:inherit;

}



::-webkit-scrollbar{

width:8px;

}


::-webkit-scrollbar-thumb{

background:var(--pink);

border-radius:20px;

}



.container{

width:90%;

margin:auto;

}
